/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/
a.internal {
    color: #e05206;
    text-decoration: underline;
    background-color: transparent;
}
a.internal:hover, a.internal:focus, a.internal:active {
    color: #e05206 !important;
    text-decoration: none;
}

a:not(.btn).link {
    color: #e05206;
}

a:not(.btn):hover, a:not(.btn):focus, a:not(.btn):active {
    color: #e05206;
}

h3.text-primary {
    color: #e05206 !important;
}

/* ----------------------------------------------------------------
	Accordion
-----------------------------------------------------------------*/
.accordion.accordion-theme .ac-item {
    background-color: #e05206;
}

.accordion.contact .ac-item {
    padding: 0;
}
.accordion.contact .ac-item h2.ac-title {
    color: #54575a;
    font-family: 'Arial', sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.54px;
    cursor: pointer;
    padding: 16px 20px;

}
.accordion.contact .ac-item .ac-title:before {
    right: 20px;
}
.accordion.contact .ac-item h2.ac-title:hover,
.accordion.contact .ac-item.ac-active h2.ac-title {
    background-color: #e05206;
    color: #ffffff;
}
.accordion.contact .ac-item .ac-content {
    padding: 20px;
}

/* ----------------------------------------------------------------
	Blockquotes
-----------------------------------------------------------------*/
.blockquote {
     /*border-left: 3px solid #e05206;*/
    border-left: 0;
    font-size: 20px;
    padding: 30px 36px;
    margin: 0 0 20px;
 }

.blockquote-color {
    background-color: #e05206;
}

.blockquote-color-white {
    background-color: #ffffff;
}

.blockquote-color-grey {
    background-color: #f5f5f5;
}

/* ----------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------------*/
a.btn:not([href]):not([tabindex]),
.btn {
    background-color: #e05206;
    border-color: #e05206;
}

a.btn:not([href]):not([tabindex]):hover, a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active,
.btn:hover,
.btn:focus,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    background-color: #e05206;
    border-color: #e05206;
}

a.btn:not([href]):not([tabindex]).btn-outline,
.btn.btn-outline {
    border-color: #e05206;
    color: #e05206;
}

a.btn:not([href]):not([tabindex]).btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-outline:active, a.btn:not([href]):not([tabindex]).btn-outline.active,
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline.active {
    background-color: #e05206;
    border-color: #e05206;
}

a.btn:not([href]):not([tabindex]).btn-primary,
.btn.btn-primary {
    background-color: #e05206;
    border-color: #e05206;
}

a.btn:not([href]):not([tabindex]).btn-primary:hover, a.btn:not([href]):not([tabindex]).btn-primary:focus, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled).active,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled).active {
    background-color: #e05206;
    border-color: #e05206;
}

a.btn:not([href]):not([tabindex]).btn-icon-holder.btn-outline:before,
.btn.btn-icon-holder.btn-outline:before {
    border-left-color: #e05206;
}

/* ----------------------------------------------------------------
Carousels & Slider
-----------------------------------------------------------------*/
.vensure-slider .flickity-button:hover {
    background-color: #e05206;
}

/* ----------------------------------------------------------------------
Forms
-------------------------------------------------------------------------*/
.form-control:focus,
input:focus,
select:focus {
    border-color: #e05206;
}

/* ----------------------------------------------------------------------
	Headings
-------------------------------------------------------------------------*/
.heading-text.heading-section > h2.light,
.heading-text.heading-section > span.light {
    color: #ffffff;
}

.heading-creative strong {
    color: #e05206;
}

/* ----------------------------------------------------------------------
	Icon Box
-------------------------------------------------------------------------*/
.icon-box.effect.dark .icon i:after {
    box-shado: 0 0 0 3px #e05206;
}

.icon-box.effect.dark .icon i:hover, .icon-box.effect.dark:hover .icon i {
    background-color: #e05206;
}

.text-box.text-box-light:hover {
    background: #e05206;
}

/* ----------------------------------------------------------------------
	Lists & Bullet Lists
-------------------------------------------------------------------------*/
.list-colored li a {
    color: #e05206;
}

.list-legend li span {
    background-color: #e05206;
}

.list-icon.list-icon-colored li:before, .list-icon.icon-list-colored i {
    color: #e05206;
}

.list-icon.list-icon-colored-grey li:before, .list-icon.icon-list-colored-grey i {
    color: #ababab;
}

.list-group-item.active {
    background-color: #e05206;
    border: #e05206;
}

/*--------------------------------------------------------
     Tabs
---------------------------------------------------------*/
.tabs .nav-tabs .nav-link.active {
    color: #e05206;
    border-bottom: 2px solid #e05206;
}

.tabs.tabs-vertical .nav-link.active {
    color: #e05206;
    border-right: 2px solid #e05206;
}

/*------------------------------------------------------
     Extras
------------------------------------------------------*/
.nav-link {
    color: #e05206;
}

#header {
    /* ----------------------------------------------------------------
Main Menu
-----------------------------------------------------------------*/
}

#header.header-modern:not(.header-active).header-colored .header-inner,
#header.header-modern:not(.header-active).header-colored #header-wrap {
    background-color: #e05206;
}

#header.header-colored .header-inner,
#header.header-colored #header-wrap {
    background-color: #e05206;
}

#header #mainMenu nav > ul > li.hover-active > a,
#header #mainMenu nav > ul > li.hover-active > span, #header #mainMenu nav > ul > li.current > a,
#header #mainMenu nav > ul > li.current > span, #header #mainMenu nav > ul > li:hover > a,
#header #mainMenu nav > ul > li:hover > span, #header #mainMenu nav > ul > li:active > a,
#header #mainMenu nav > ul > li:hover > span, #header #mainMenu nav > ul > li:focus > a,
#header #mainMenu nav > ul > li:focus > span {
    color: #e05206 !important;
}

#header #mainMenu nav > ul > li .dropdown-menu > li > a:focus, #header #mainMenu nav > ul > li .dropdown-menu > li > a:hover, #header #mainMenu nav > ul > li .dropdown-menu > li > a:active,
#header #mainMenu nav > ul > li .dropdown-menu > li > span:focus,
#header #mainMenu nav > ul > li .dropdown-menu > li > span:hover,
#header #mainMenu nav > ul > li .dropdown-menu > li > span:active,
#header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:focus,
#header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
#header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:active {
    color: #e05206;
}

#header #mainMenu nav > ul > li .dropdown-menu > li.current > a,
#header #mainMenu nav > ul > li .dropdown-menu > li.current > span, #header #mainMenu nav > ul > li .dropdown-menu > li:hover > a,
#header #mainMenu nav > ul > li .dropdown-menu > li:hover > span, #header #mainMenu nav > ul > li .dropdown-menu > li:focus > a,
#header #mainMenu nav > ul > li .dropdown-menu > li:focus > span, #header #mainMenu nav > ul > li .dropdown-menu > li:active > a,
#header #mainMenu nav > ul > li .dropdown-menu > li:active > span, #header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > a,
#header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > span {
    color: #ffffff;
}
@media (max-width: 1024px) {
    #header #mainMenu nav > ul > li .dropdown-menu > li.current > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li.current > span, #header #mainMenu nav > ul > li .dropdown-menu > li:hover > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:hover > span, #header #mainMenu nav > ul > li .dropdown-menu > li:focus > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:focus > span, #header #mainMenu nav > ul > li .dropdown-menu > li:active > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:active > span, #header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > span {
        color: #9d9d9d;
    }
}

#header #mainMenu.menu-rounded nav > ul > li.current > a, #header #mainMenu.menu-rounded nav > ul > li:hover > a, #header #mainMenu.menu-rounded nav > ul > li:focus > a {
    background-color: #e05206;
}

#header #mainMenu.menu-outline nav > ul > li.current > a, #header #mainMenu.menu-outline nav > ul > li:hover > a, #header #mainMenu.menu-outline nav > ul > li:focus > a {
    color: #e05206;
    border-color: #e05206;
}

#header #mainMenu.menu-lines nav > ul > li.current > a, #header #mainMenu.menu-lines nav > ul > li:hover > a, #header #mainMenu.menu-lines nav > ul > li:focus > a {
    color: #e05206;
}

#header #mainMenu.menu-lines nav > ul > li.current > a:after, #header #mainMenu.menu-lines nav > ul > li:hover > a:after, #header #mainMenu.menu-lines nav > ul > li:focus > a:after {
    background-color: #e05206;
}

#header #mainMenu.menu-hover-background nav > ul > li.current, #header #mainMenu.menu-hover-background nav > ul > li:hover, #header #mainMenu.menu-hover-background nav > ul > li:focus {
    background-color: #e05206;
}

#header #shopping-cart > a .shopping-cart-items {
    background: #e05206;
}

/* ----------------------------------------------------------------
Dots Menu
-----------------------------------------------------------------*/
#dotsMenu ul li:hover {
    background-color: #e05206;
}

#dotsMenu ul li.current {
    background-color: #e05206;
}

#dotsMenu ul li a:hover:before, #dotsMenu ul li a.active:before {
    background-color: #e05206;
}

/*Menu Dark*/
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover {
    color: #e05206;
}

#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span {
    color: #e05206;
}

/* ----------------------------------------------------------------
Topbar
-----------------------------------------------------------------*/
#topbar.topbar-colored, #topbar.topbar-colored.dark {
    background-color: #e05206;
}

/* ----------------------------------------------------------------
Portfolio
-----------------------------------------------------------------*/
.portfolio-item .portfolio-description a:hover i,
.portfolio-item .grid-description a:hover i,
.portfolio-item .portfolio-links a:hover i,
.grid-item .portfolio-description a:hover i,
.grid-item .grid-description a:hover i,
.grid-item .portfolio-links a:hover i {
    background-color: #e05206;
    border: 1px solid #e05206;
}

.tags a:hover, .tags a:focus, .tags a:active, .tags a.active {
    background-color: #e05206;
    border-color: #e05206;
}

/* tables */

.table .thead-dark th {
    font-weight: 700;
    color: #ffffff;
    background-color: #e05206;
    border-color: #e05206;
}
